/* CSS declarations go here */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.topGap{
	margin-top: 30px;
}

.topGapSmall{
  margin-top: 10px;
}

html {
  font-weight: 300;
  font-family: "Raleway", "Helvetica", "Roboto";
}

.roundedBorder{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

h4,h5 {
  font-weight:300;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
/*    color: #333; 
    background-color: #333;*/
}

.middleAlign{
        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin: auto;
}

.fullWindowHeight{
	min-height: 100vh;
	padding-bottom: 10px;
}

.middle {
  margin-top: 50%;
}

.marginBottom{
	margin-bottom: 0%;
}

.lowOpacity{
  opacity: 0.3;
}

.lessWidth{
  width: 85%;
}


.lessContrast{
   -webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
   filter: grayscale(40%); /* Chrome, Safari, Opera */

}

.noMarginTop {
  margin-top: -7px;
}

.noMarginBottom {
  margin-bottom: -7px;
  padding-bottom: 0px;
}

.logo{
	font-weight: 300;
	padding-left: 50px;
}

.marginTop{
  margin-top: 20px; 
}


.paddingTopBottom{
  padding: 10px 0;
}

.paddongTop{
  padding: 10px;
}

.paddingBottom{
	padding-bottom: 5px;
}

.bigMarginBottom{
  margin-bottom: 10px;
}

.smallMarginBottom{
  margin-bottom:5px;
}

.rightGap {
  margin-right: 30px;
}

.bottomGap{
  margin-bottom: 30px;
}


.bottomGapSmall{
  margin-bottom: 20px;
}

.iconAlign {
    vertical-align: bottom;
}

.iconFloatLeft {
    float: left;
    margin-right: 15px;
}

.boldText{
	font-weight: bold;
}

.biggerText {
  font-size: 1.3em;
}
.bigText {
  font-size: 1.7em;
}

.smallText{
  font-size: 0.8em;
}

.smallerText{
  font-size: 0.6em;
}


@media only screen and (min-width: 500px) {
    .containedFAB{
      bottom: 45px;
      right: 170px;
    }
}

 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #00BFFF;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }



